@{
    ViewData["Title"] = "PainelAdministrador";
}

<body>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar justify-content-between">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="index.html"><i class="fas fa-home"></i> Tela inicial</a>
                </li>

                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="carrinho_compras.html">
                        <i class="fas fa-shopping-cart"><span id="quantidade-item-cart">0</span></i>
                        Carrinho
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav navbar-nav-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="pedidos_status_cliente.html"><i class="fas fa-file-alt"></i> Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#"> Login <i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>Painel do Administrador</h2>

    <div class="container-painelAdm">
        <div class="painelAdm">
            <a class="ancora-adm" href="@Url.Action("Cliente", "Cliente")"><button class="btn-azul-adm" id="gerencia-clientes" onclick="">Gerenciar Clientes</button></a>
            <a class="ancora-adm" href="@Url.Action("PedidoAdmin", "PedidoAdmin")"><button class="btn-verde-adm" id="gerencia-pedidos" onclick="">Gerenciar Pedidos</button></a>
            <a class="ancora-adm" href="@Url.Action("AnaliseVendas", "AnaliseVendas")"><button class="btn-cinza-adm" id="analisa-vendas" onclick="">Analisar Vendas</button></a>
        </div>
    </div>

    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script.js"></script>
</body>