@{
    ViewData["Title"] = "ConsularCupom";
}
<body onload="carregarCupons()">
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar justify-content-between">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="@Url.Action("PaginaInicial", "PaginaInicial")"><i class="fas fa-home"></i> Tela inicial</a>
                </li>

                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="@Url.Action("CarrinhoCompras", "CarrinhoCompras")">
                        <i class="fas fa-shopping-cart"><span id="quantidade-item-cart">0</span></i>
                        Carrinho
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <input type="text" class="form-control search-input" placeholder="Pesquisar produtos...">
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav navbar-nav-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="telaPedidos" class="nav-link" style="color: white;" href="@Url.Action("PedidosCliente", "PedidosCliente")"><i class="fas fa-file-alt"></i> Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#"> Login <i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-consulta">
        <input type="text" id="termoPesquisa" placeholder="Digite aqui...">
        <button class="btn btn-primary mb-3" id="consultarCupons">Consultar</button>
    </div>

    <div id="clientGrid" class="container mt-4">
        <h1 class="text-center">Lista de Cupons</h1>
        <div class="row grid-header">
            <div class="col">Cupom</div>
            <div class="col">Valor</div>
            <div class="col">Ativo?</div>
        </div>
        <div id="resultadoPesquisa">
            <!-- resultado da consulta entrará aqui -->
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptCupom.js"></script>
</body>
