@model Cliente
@{
    ViewData["Title"] = "Cliente";
}

<body>
    <!-- Modal de Sucesso -->
    <!--<div class="modal modal-success" id="modalSuccess">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sucesso!</h5>
                    <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ação realizada com sucesso.
                </div>
            </div>
        </div>
    </div>-->
    <!-- Modal de Erro -->
    <!--<div class="modal modal-error" id="modalError">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Erro!</h5>
                  <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Houve um erro ao realizar a ação.
              </div>
          </div>
      </div>
    </div>-->
    <!--<div class="container mt-4">
        <h1 class="text-center">Gerenciamento de Clientes</h1>
        <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#novoClienteModal">
            Incluir Novo Cliente
        </button>


    </div>-->
    <style>
        .container-consulta {
            text-align: right;
        }

    </style>

    <div class="container mt-4">
        <h1 class="text-center">Gerenciamento de Clientes</h1>
        <button class="btn btn-primary mb-3" id="meuBotaocliente">
            Incluir Novo Cliente
        </button>

    </div>

    <div class="container-consulta">
        <input type="text" id="termoPesquisa" placeholder="Digite aqui...">
        <button class="btn btn-primary mb-3" id="consultarClientes">Consultar</button>
    </div>
    <!--<<button  class="btn-azul btn-azul-pagamento" id="meuBotaocliente">Adicionar cliente</button>-->
    <div id="clientGrid" class="container mt-4">
        <h1 class="text-center">Lista de Clientes</h1>
        <div class="row grid-header">
            <div class="col">Nome</div>
            <div class="col">Data de Nascimento</div>
            <div class="col">Email</div>
            <div class="col">CPF</div>
            <div class="col">Gênero</div>
            <div class="col">Status</div>
            <div class="col">Transações</div>
            <div class="col">Ações</div>
        </div>
        <div id="resultadoPesquisa">
            <!-- Os resultados da pesquisa serão preenchidos aqui pelo JavaScript. -->
        </div>
    </div>

    <div class="overlay-cliente" id="overlay-cliente">
        <div class="popup-cliente" id="popup-cliente">
            <button id="fechar-cliente" class="close-button"><i class="fas fa-times"></i></button>
            <h3 class="popup-title">Adicionar Cliente</h3>

            <form>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="nomeCliente" class="label-blue">Nome do Cliente:</label>
                        <input type="text" id="nomeCliente" class="form-control input-card" required>
                    </div>
                    <div class="col-md-6">
                        <label for="genero" class="label-blue">Gênero</label>
                        <select id="genero" class="form-select input-card" required>
                            <option selected>Selecione...</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>
                </div>

                <input type="hidden" id="clientEditId">

                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <label for="telefone" class="label-blue">Telefone/Celular:</label>
                        <input type="text" id="telefone" class="form-control input-card" required>
                    </div>
                    <div class="col-md-6">
                        <label for="tipoTelefone" class="label-blue">Tipo do Telefone:</label>
                        <select id="tipoTelefone" class="form-select input-card" required>
                            <option selected>Selecione...</option>
                            <option value="1">Residencial</option>
                            <option value="2">Celular</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label for="dataNascimento" class="label-blue">Data de Nascimento</label>
                    <input type="date" id="dataNascimento" class="form-control input-card" required>
                </div>

                <label for="emailCliente" class="label-blue">Email do Cliente</label>
                <input type="email" id="emailCliente" class="form-control input-card" placeholder="Digite o email do cliente" required>

                <label for="cpfCliente" class="label-blue">CPF</label>
                <input type="text" id="cpfCliente" class="form-control input-card" maxlength="11" required>

                <br>
                <label for="statusCliente" class="label-blue">Status do Cliente</label>
                <input type="checkbox" id="statusCliente" required>
                <br>
                <br>

                <h3 class="popup-title">Cartão de Crédito</h3>

                <div id="cartoes-container"></div>
                <div class="mb-3">
                    <label for="numero" class="label-blue">Número do Cartão:</label>
                    <input type="text" class="form-control input-card" id="numeroCartao" placeholder="____.____.____.____" required>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <label for="validade" class="label-blue">Validade:</label>
                        <input type="text" class="form-control input-card" id="validade" placeholder="MM/AA" required>
                    </div>
                    <div>
                        <label for="cvv" class="label-blue">CVV:</label>
                        <input type="text" class="form-control input-card" id="cvv" placeholder="CVV" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="titular" class="label-blue">Titular do Cartão:</label>
                    <input type="text" class="form-control input-card" id="titular" placeholder="Nome Completo do Titular" required>
                </div>

                <div class="mb-3">
                    <label for="cpf" class="label-blue">CPF do Titular:</label>
                    <input type="text" class="form-control input-card" id="cpf" placeholder="___.___.___-__" required>
                </div>

                <br>

                <h3 class="popup-title">Endereço</h3>

                <div class="mb-3">
                    <label for="ruaCliente" class="label-blue">Rua:</label>
                    <input type="text" id="ruaCliente" class="form-control input-card" placeholder="Digite sua rua" required>
                </div>

                <div class="mb-3">
                    <label for="cidadeCliente" class="label-blue">Cidade:</label>
                    <input type="text" id="cidadeCliente" class="form-control input-card" placeholder="Digite sua cidade" required>
                </div>

                <div class="mb-3">
                    <label for="bairroCliente" class="label-blue">Bairro:</label>
                    <input type="text" id="bairroCliente" class="form-control input-card" placeholder="Digite seu bairro" required>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <label for="numeroEndereco" class="label-blue">Número:</label>
                        <input type="text" id="numeroEndereco" class="form-control input-card" placeholder="Digite seu número" required>
                    </div>
                    <div>
                        <label for="cep" class="label-blue">CEP:</label>
                        <input type="text" id="cep" class="form-control input-card" placeholder="Digite seu CEP" required>
                    </div>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="tipoResidencia" class="label-blue">Tipo da Residência:</label>
                        <select id="tipoResidencia" class="form-select input-card" required>
                            <option selected>Selecione...</option>
                            <option value="1">Casa</option>
                            <option value="2">Apartamento</option>
                            <option value="3">Condomínio</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="tipoLogradouro" class="label-blue">Logradouro:</label>
                        <select id="tipoLogradouro" class="form-select input-card" required>
                            <option selected>Selecione...</option>
                            <option value="1">Rua</option>
                            <option value="2">Avenida</option>
                            <option value="3">Praça</option>
                            <option value="4">Estrada</option>
                            <option value="5">Alameda</option>
                            <option value="6">Via</option>
                            <option value="7">Travessa</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <label for="estadoCliente" class="label-blue">Estado:</label>
                        <input type="text" id="estadoCliente" class="form-control input-card" placeholder="Digite seu estado" required>
                    </div>
                    <div>
                        <label for="paisCliente" class="label-blue">País:</label>
                        <input type="text" id="paisCliente" class="form-control input-card" placeholder="Digite seu país" required>
                    </div>
                </div>

                @*<button class="btn btn-secondary" id="botaoModalCartao">Gerenciar Cartões</button>*@
            </form>


            <button id="confirmar-cliente" class="btn btn-primary">Confirmar</button>
        </div>
    </div>

    @*<div class="overlay-cartao" id="overlay-cartao">
        <div class="popup-cartao" id="popup-cartao">
            <div class="container mt-4">
                <button id="fechar-cartao" class="close-button"><i class="fas fa-times"></i></button>

                <h3 class="text-center">Gerenciamento de Cartões</h3>

                <form>
                    <div class="mb-3">
                        <label for="numero" class="label-blue">Número do Cartão:</label>
                        <input type="text" class="form-control input-card" id="numeroCartao" placeholder="____.____.____.____">
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div>
                            <label for="validade" class="label-blue">Validade:</label>
                            <input type="text" class="form-control input-card" id="validade" placeholder="MM/AA">
                        </div>
                        <div>
                            <label for="cvv" class="label-blue">CVV:</label>
                            <input type="text" class="form-control input-card" id="cvv" placeholder="CVV">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="titular" class="label-blue">Titular do Cartão:</label>
                        <input type="text" class="form-control input-card" id="titular" placeholder="Nome Completo">
                    </div>

                    <div class="mb-3">
                        <label for="cpf" class="label-blue">CPF do Titular:</label>
                        <input type="text" class="form-control input-card" id="cpf" placeholder="___.___.___-__">
                    </div>
                    <button id="confirmar-cartao" class="btn btn-primary">Confirmar</button>
                </form>

                <div id="cartoesGrid" class="container mt-5">
                    <h1 class="text-center">Lista de Cartões</h1>
                    <div class="row grid-header">
                        <div class="col">Número do Cartão</div>
                        <div class="col">Validade</div>
                        <div class="col">CVV</div>
                        <div class="col">Titular do Cartão</div>
                        <div class="col">CPF do titular</div>
                        <div class="col">Ações</div>
                    </div>
                </div>
            </div>

        </div>
    </div>*@

    <!-- <div class="overlay" id="overlay-cliente">
        <div id="novoClienteModal" class="popup">
            <div class="modal-content-cliente">
                <span id="fecharNovoClienteModal" class="close-cliente">&times;</span>
                <h2>Incluir Novo Cliente</h2>
                <form>
                    <label for="nomeCliente">Nome do Cliente</label>
                    <input type="text" id="nomeCliente" class="form-control" required>

                    <label for="dataNascimento">Data de Nascimento</label>
                    <input type="date" id="dataNascimento" class="form-control" required>

                    <label for="emailCliente">Email do Cliente</label>
                    <input type="email" id="emailCliente" class="form-control" required>

                    <label for="cpfCliente">CPF</label>
                    <input type="text" id="cpfCliente" class="form-control" required>


                    <label for="ruaCliente">Rua</label>
                    <input type="text" id="ruaCliente" class="form-control" required>

                    <label for="bairroCliente">Bairro</label>
                    <input type="text" id="bairroCliente" class="form-control" required>

                    <label for="cidadeCliente">Cidade</label>
                    <input type="text" id="cidadeCliente" class="form-control" required>

                    <label for="estadoCliente">Estado</label>
                    <input type="text" id="estadoCliente" class="form-control" required>

                    <label for="paisCliente">País</label>
                    <input type="text" id="paisCliente" class="form-control" required>

                    <button type="button" id="confirmar-cliente" class="btn btn-primary">Confirmar</button>
                </form>
            </div>
        </div>
    </div>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/scriptCliente.js"></script>

</body>



