@model Cliente
@{
    ViewData["Title"] = "Cliente";
}

<body>

    <style>
        .container-consulta {
            text-align: right;
        }

    </style>

    <nav class="navbar navbar-expand-lg navbar-light custom-navbar justify-content-between">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="@Url.Action("PaginaInicial", "PaginaInicial")"><i class="fas fa-home"></i> Tela inicial</a>
                </li>

                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="@Url.Action("CarrinhoCompras", "CarrinhoCompras")">
                        <i class="fas fa-shopping-cart"><span id="quantidade-item-cart">0</span></i>
                        Carrinho
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <input type="text" class="form-control search-input" placeholder="Pesquisar produtos...">
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav navbar-nav-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="@Url.Action("PedidosCliente", "PedidosCliente")"><i class="fas fa-file-alt"></i> Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#"> Login <i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Gerenciamento de Clientes</h1>
        <button class="btn btn-primary mb-3" id="meuBotaocliente">
            Incluir Novo Cliente
        </button>

    </div>

    <div class="container-consulta">
        <input type="text" id="termoPesquisa" placeholder="Digite aqui...">
        <button class="btn btn-primary mb-3" id="consultarClientes">Consultar</button>
    </div>

    <div id="clientGrid" class="container mt-4">
        <h1 class="text-center">Lista de Clientes</h1>
        <div class="row grid-header">
            <div class="col">Nome</div>
            <div class="col">Data de Nascimento</div>
            <div class="col">Email</div>
            <div class="col">CPF</div>
            <div class="col">Gênero</div>
            <div class="col">Status</div>
            <div class="col">Endereços</div>
            <div class="col">Cartões</div>
            <div class="col">Transações</div>
            <div class="col">Ações</div>
        </div>
        <div id="resultadoPesquisa">
            <!-- resultado da consulta entrará aqui -->
        </div>
    </div>

    <div class="overlay-cliente" id="overlay-cliente">
        <div class="popup-cliente" id="popup-cliente">
            <button id="fechar-cliente" class="close-button"><i class="fas fa-times"></i></button>
            <h3 class="popup-title">Adicionar Cliente</h3>

            <form>
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="nomeCliente" class="label-blue">Nome do Cliente:</label>
                        <input type="text" id="nomeCliente" class="form-control input-card" required>
                    </div>
                    <div class="col-md-6">
                        <label for="genero" class="label-blue">Gênero</label>
                        <select id="genero" class="form-select input-card" required>
                            <option selected>Selecione...</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>
                </div>

                <input type="hidden" id="clientEditId">

                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <label for="telefone" class="label-blue">Telefone/Celular:</label>
                        <input type="text" id="telefone" class="form-control input-card" required>
                    </div>
                    <div class="col-md-6">
                        <label for="tipoTelefone" class="label-blue">Tipo do Telefone:</label>
                        <select id="tipoTelefone" class="form-select input-card" required>
                            <option selected>Selecione...</option>
                            <option value="1">Residencial</option>
                            <option value="2">Celular</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label for="dataNascimento" class="label-blue">Data de Nascimento</label>
                    <input type="date" id="dataNascimento" class="form-control input-card" required>
                </div>

                <label for="emailCliente" class="label-blue">Email do Cliente</label>
                <input type="email" id="emailCliente" class="form-control input-card" placeholder="Digite o email do cliente" required>

                <label for="cpfCliente" class="label-blue">CPF</label>
                <input type="text" id="cpfCliente" class="form-control input-card" maxlength="11" required>

                <br>
                <label for="statusCliente" class="label-blue">Status do Cliente</label>
                <input type="checkbox" id="statusCliente" required>
                <br>
                <br>

                <div id="inclusaoDiv">
                    <h3 class="popup-title">Cartão de Crédito</h3>

                    <div id="cartoes-container"></div>
                    <div class="mb-3">
                        <label for="numero" class="label-blue">Número do Cartão:</label>
                        <input type="text" class="form-control input-card" id="numeroCartao" placeholder="____.____.____.____" required>
                    </div>

                    <div class="mb-3">
                        <label for="titular" class="label-blue">Titular do Cartão:</label>
                        <input type="text" class="form-control input-card" id="titular" placeholder="Nome Impresso no Cartão" required>
                    </div>

                    <div class="mb-3">
                        <label for="bandeira" class="label-blue">Bandeira:</label>
                        <input type="text" class="form-control input-card" id="bandeira" required>
                    </div>

                    <div class="mb-3">
                        <label for="cvv" class="label-blue">CVV:</label>
                        <input type="text" class="form-control input-card" id="cvv" placeholder="CVV" required>
                    </div>

                    <br>

                    <h3 class="popup-title">Endereço</h3>

                    <div class="mb-3">
                        <label for="logradouro" class="label-blue">Logradouro:</label>
                        <input type="text" id="logradouro" class="form-control input-card" required>
                    </div>

                    <div class="mb-3">
                        <label for="cidadeCliente" class="label-blue">Cidade:</label>
                        <input type="text" id="cidadeCliente" class="form-control input-card" required>
                    </div>

                    <div class="mb-3">
                        <label for="bairroCliente" class="label-blue">Bairro:</label>
                        <input type="text" id="bairroCliente" class="form-control input-card" required>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div>
                            <label for="numeroEndereco" class="label-blue">Número:</label>
                            <input type="text" id="numeroEndereco" class="form-control input-card" required>
                        </div>
                        <div>
                            <label for="cep" class="label-blue">CEP:</label>
                            <input type="text" id="cep" class="form-control input-card" required>
                        </div>
                    </div>


                    <div class="mb-3 d-flex justify-content-between">
                        <div class="col-md-6">
                            <label for="tipoResidencia" class="label-blue">Tipo da Residência:</label>
                            <select id="tipoResidencia" class="form-select input-card" required>
                                <option selected>Selecione...</option>
                                <option value="1">Casa</option>
                                <option value="2">Apartamento</option>
                                <option value="3">Condomínio</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="tipoLogradouro" class="label-blue">Tipo Logradouro:</label>
                            <select id="tipoLogradouro" class="form-select input-card" required>
                                <option selected>Selecione...</option>
                                <option value="1">Rua</option>
                                <option value="2">Avenida</option>
                                <option value="3">Praça</option>
                                <option value="4">Estrada</option>
                                <option value="5">Alameda</option>
                                <option value="6">Via</option>
                                <option value="7">Travessa</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div>
                            <label for="estadoCliente" class="label-blue">Estado:</label>
                            <input type="text" id="estadoCliente" class="form-control input-card" required>
                        </div>
                        <div>
                            <label for="paisCliente" class="label-blue">País:</label>
                            <input type="text" id="paisCliente" class="form-control input-card" required>
                        </div>
                    </div>
                </div>

                

                @*<button class="btn btn-secondary" id="botaoModalCartao">Gerenciar Cartões</button>*@
            </form>


            <button id="confirmar-cliente" class="btn btn-primary">Confirmar</button>
        </div>
    </div>

    <div class="overlay-cartao" id="overlay-cartao">
        <div class="popup-cartao" id="popup-cartao">
            <div class="container mt-4">
                <button id="fechar-cartao" class="close-button"><i class="fas fa-times"></i></button>

                <h3 class="text-center">Gerenciamento de Cartões</h3>

                <form>
                    <input type="hidden" id="clientCartaoId">
                    <input type="hidden" id="bandeiraCartaoId">
                    <input type="hidden" id="CartaoId">

                    <div id="editar-cartoes-container"></div>

                    <div id="cartoes-container"></div>
                    <div class="mb-3">
                        <label for="numero" class="label-blue">Número do Cartão:</label>
                        <input type="text" class="form-control input-card" id="numeroCartao1" placeholder="____.____.____.____" required>
                    </div>

                    <div class="mb-3">
                        <label for="titular" class="label-blue">Titular do Cartão:</label>
                        <input type="text" class="form-control input-card" id="titular1" placeholder="Nome Impresso no Cartão" required>
                    </div>

                    <div class="mb-3">
                        <label for="bandeira" class="label-blue">Bandeira:</label>
                        <input type="text" class="form-control input-card" id="bandeira1" required>
                    </div>

                    <div class="mb-3">
                        <label for="cvv" class="label-blue">CVV:</label>
                        <input type="text" class="form-control input-card" id="cvv1" placeholder="CVV" required>
                    </div>

                    <button id="confirmar-cartao" class="btn btn-primary">Confirmar</button>
                </form>

                <div id="cartoesGrid" class="container mt-5">
                    <h1 class="text-center">Lista de Cartões</h1>
                    <div class="row grid-header">
                        <div class="col">Número do Cartão</div>
                        <div class="col">CVV</div>
                        <div class="col">Titular do Cartão</div>
                        <div class="col">Ações</div>
                    </div>
                    <div id="resultadoPesquisaCartao">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-transacoes" id="overlay-transacoes">
        <div class="popup-transacoes" id="popup-transacoes">
            <div id="pedidoGrid" class="container mt-4">
                <button id="fechar-transacao" class="close-button"><i class="fas fa-times"></i></button>

                <h1 class="text-center">Lista de Transações</h1>
                <div class="row grid-header">
                    <div class="col">Código do pedido</div>
                    <div class="col">Nome do Cliente</div>
                    <div class="col">Valor Total</div>
                    <div class="col">Valor Frete</div>
                    <div class="col">Valor dos Produtos</div>
                    <div class="col">Data da transação</div>
                    <div class="col">Endereço de Entrega</div>
                </div>
                <div id="resultadoPesquisaTransacoes">
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-endereco" id="overlay-endereco">
        <div class="popup-endereco" id="popup-endereco">
            <div class="container mt-4">
                <button id="fechar-endereco" class="close-button"><i class="fas fa-times"></i></button>
                <h3 class="text-center">Gerenciamento de Endereços</h3>

                <form>
                    <input type="hidden" id="clientEnderecoId">
                    <input type="hidden" id="EnderecoId">
                    <input type="hidden" id="PaisId">
                    <input type="hidden" id="CidadeId">
                    <input type="hidden" id="EstadoId">

                    <div id="editar-endereco-container"></div>

                    <div class="mb-3">
                        <label for="logradouro1" class="label-blue">Logradouro:</label>
                        <input type="text" id="logradouro1" class="form-control input-card" required>
                    </div>

                    <div class="mb-3">
                        <label for="cidadeCliente1" class="label-blue">Cidade:</label>
                        <input type="text" id="cidadeCliente1" class="form-control input-card" required>
                    </div>

                    <div class="mb-3">
                        <label for="bairroCliente1" class="label-blue">Bairro:</label>
                        <input type="text" id="bairroCliente1" class="form-control input-card" required>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div>
                            <label for="numeroEndereco1" class="label-blue">Número:</label>
                            <input type="text" id="numeroEndereco1" class="form-control input-card" required>
                        </div>
                        <div>
                            <label for="cep1" class="label-blue">CEP:</label>
                            <input type="text" id="cep1" class="form-control input-card" required>
                        </div>
                    </div>


                    <div class="mb-3 d-flex justify-content-between">
                        <div class="col-md-6">
                            <label for="tipoResidencia1" class="label-blue">Tipo da Residência:</label>
                            <select id="tipoResidencia1" class="form-select input-card" required>
                                <option selected>Selecione...</option>
                                <option value="1">Casa</option>
                                <option value="2">Apartamento</option>
                                <option value="3">Condomínio</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="tipoLogradouro1" class="label-blue">Tipo Logradouro:</label>
                            <select id="tipoLogradouro1" class="form-select input-card" required>
                                <option selected>Selecione...</option>
                                <option value="1">Rua</option>
                                <option value="2">Avenida</option>
                                <option value="3">Praça</option>
                                <option value="4">Estrada</option>
                                <option value="5">Alameda</option>
                                <option value="6">Via</option>
                                <option value="7">Travessa</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div>
                            <label for="estadoCliente1" class="label-blue">Estado:</label>
                            <input type="text" id="estadoCliente1" class="form-control input-card" required>
                        </div>
                        <div>
                            <label for="paisCliente1" class="label-blue">País:</label>
                            <input type="text" id="paisCliente1" class="form-control input-card" required>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div>
                            <label class="label-blue">Endereço de Cobrança:</label>
                            <input type="checkbox" id="enderecoCobranca" class="form-check-input">
                        </div>
                        <div>
                            <label class="label-blue">Endereço de Entrega:</label>
                            <input type="checkbox" id="enderecoEntrega" class="form-check-input">
                        </div>
                    </div>

                    <button id="confirmar-endereco" class="btn btn-primary">Confirmar</button>
                </form>

                <div id="enderecosGrid" class="container mt-5">
                    <h1 class="text-center">Lista de Endereços</h1>
                    <div class="row grid-header">
                        <div class="col">Logradouro</div>
                        <div class="col">CEP</div>
                        <div class="col">Bairro</div>
                        <div class="col">Ações</div>
                    </div>
                    <div id="resultadoPesquisaEndereco">
                    </div>
                </div>
            </div>               
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/scriptCliente.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            
        });
    </script>

</body>



