@model List<Calcados>

@{
    ViewData["Title"] = "CarrinhoCompras";
}


<body onload="carregarValorCarrinho()">
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar justify-content-between">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="@Url.Action("PaginaInicial", "PaginaInicial")"><i class="fas fa-home"></i> Tela inicial</a>
                </li>

                <li class="nav-item nav-item-cart">
                    <a class="nav-link custom-link" style="color: white;" href="@Url.Action("CarrinhoCompras", "CarrinhoCompras")">
                        <i class="fas fa-shopping-cart"><span id="quantidade-item-cart">0</span></i>
                        Carrinho
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <input type="text" class="form-control search-input" placeholder="Pesquisar produtos...">
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav navbar-nav-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="pedidos_status_cliente.html"><i class="fas fa-file-alt"></i> Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#"> Login <i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="header">
        <h2 style="color: #15368A;"><i style="color: #15368A;" class="fas fa-shopping-cart cart-icon"></i>Carrinho de Compras</h2>
    </div>

            <div class="container-geral">

            </div>


            <div class="linha-horizontal"></div>

            <div class="container-geral-resumo">

            <a  asp-controller="PaginaInicial" asp-action="PaginaInicial" style="text-decoration: None">
            <button class="btn-branco" id="meuBotao"> <strong>Adicionar itens ao carrinho</strong></button></a>
            </div>

            <div class="linha-horizontal"></div>

        <div class="container-geral-resumo">

                <div class="container-frete">
                    <p class="cor-azul">Calcular Frete</p>

                    <div class="linha-horizontal-frete"></div>
                    <br>
                    <button class="btn-endereco-cadastrado" onclick="selecionarBtn(this)">
                        <div id="icone">
                            <i style="color: #15368A;" class="fas fa-home"></i>
                        </div>

                        <div id="receber-em-casa">
                            <table>
                                <tr>
                                    <td id="td-esquerda">Receber em casa</td>
                                </tr>
                                <tr>
                                    <td><span class="delivery-time">5 dias úteis</span></td>
                                </tr>
                            </table>
                            <div id="preco-frete">
                                <p>R$ 10,00</p>
                            </div>
                        </div>
                        <br>

                    </button>
                    <br>
                    <br>

                    <button class="btn-add-endereco" id="btn-endereco">
                        <div id="icone">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div id="adicionar-endereco">
                            <p>Adicionar novo endereço</p>
                        </div>
                    </button>
                </div>

                <div class="overlay-endereco" id="overlay-endereco">
                    <div class="popup-endereco" id="popup-endereco">
                        <div class="container mt-4">
                            <button id="fechar-endereco" class="close-button"><i class="fas fa-times"></i></button>
                            <h3 class="text-center">Gerenciamento de Endereços</h3>

                            <form>
                                <input type="hidden" id="clientEnderecoId">
                                @*<input type="hidden" id="bandeiraCartaoId">*@
                                <input type="hidden" id="EnderecoId">
                                <div class="mb-3">
                                    <label for="logradouro1" class="label-blue">Logradouro:</label>
                                    <input type="text" id="logradouro1" class="form-control input-card" required>
                                </div>

                                <div class="mb-3">
                                    <label for="cidadeCliente1" class="label-blue">Cidade:</label>
                                    <input type="text" id="cidadeCliente1" class="form-control input-card" required>
                                </div>

                                <div class="mb-3">
                                    <label for="bairroCliente1" class="label-blue">Bairro:</label>
                                    <input type="text" id="bairroCliente1" class="form-control input-card" required>
                                </div>

                                <div class="mb-3 d-flex justify-content-between">
                                    <div>
                                        <label for="numeroEndereco1" class="label-blue">Número:</label>
                                        <input type="text" id="numeroEndereco1" class="form-control input-card" required>
                                    </div>
                                    <div>
                                        <label for="cep1" class="label-blue">CEP:</label>
                                        <input type="text" id="cep1" class="form-control input-card" required>
                                    </div>
                                </div>


                                <div class="mb-3 d-flex justify-content-between">
                                    <div class="col-md-6">
                                        <label for="tipoResidencia1" class="label-blue">Tipo da Residência:</label>
                                        <select id="tipoResidencia1" class="form-select input-card" required>
                                            <option selected>Selecione...</option>
                                            <option value="1">Casa</option>
                                            <option value="2">Apartamento</option>
                                            <option value="3">Condomínio</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="tipoLogradouro1" class="label-blue">Tipo Logradouro:</label>
                                        <select id="tipoLogradouro1" class="form-select input-card" required>
                                            <option selected>Selecione...</option>
                                            <option value="1">Rua</option>
                                            <option value="2">Avenida</option>
                                            <option value="3">Praça</option>
                                            <option value="4">Estrada</option>
                                            <option value="5">Alameda</option>
                                            <option value="6">Via</option>
                                            <option value="7">Travessa</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 d-flex justify-content-between">
                                    <div>
                                        <label for="estadoCliente1" class="label-blue">Estado:</label>
                                        <input type="text" id="estadoCliente1" class="form-control input-card" required>
                                    </div>
                                    <div>
                                        <label for="paisCliente1" class="label-blue">País:</label>
                                        <input type="text" id="paisCliente1" class="form-control input-card" required>
                                    </div>
                                </div>
                            </form>
                            <button id="confirmar-endereco" class="btn btn-primary">Confirmar</button>
                            @*<div id="enderecosGrid" class="container mt-5">
                                <h1 class="text-center">Lista de Endereços</h1>
                                <div class="row grid-header">
                                    <div class="col">Logradouro</div>
                                    <div class="col">CEP</div>
                                    <div class="col">Bairro</div>
                                    <div class="col">Ações</div>
                                </div>
                                <div id="resultadoPesquisaEndereco">
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>

                <div class="container-resumo">
                    <p class="cor-azul"><strong>Resumo</strong></p>
                    <table>
                        <tr>
                            <td class="td-esquerda">Valor dos produtos</td>
                            <td class="td-direita" id="valorProdutos">R$ 0,00</td>
                        </tr>
                        <tr>
                            <td class="td-esquerda">Valor do Frete</td>
                            <td class="td-direita" id="valorFrete">R$ 0,00</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="td-esquerda"><strong>Total</strong></td>
                            <td class="td-direita" id="valorTotal"><strong>R$ 0,00</strong></td>

                        </tr>
                    </table>
                    <br>

                <a href="@Url.Action("FormaPagamento", "FormaPagamento")"><button class="btn-azul" onclick="addValorFrete(this)">Ir para o pagamento</button></a>
                </div>

        </div>
        <br>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script.js"></script>
</body>